:root {
  --main-color: #faeb87;
  --second-color: #c7bb6b;
  --text-color: #7a7867;
  --third-color: #fbf5d3;
}
@media (max-width: 500px) {
  .intro img {
    width: 200px;
    position: absolute;
    text-align: center;
    left: 20%;
    top: 80%;
    border-radius: 50%;
    border: 5px white solid;
  }
  #content {
    margin-top: 150px;
  }

  /* ------------------------content-------------------- */
  .content__timeline-table td {
    text-align: justify;
    text-align: left;
    color: var(--text-color);
    font-size: 10px;
  }
  .content__timeline-table th {
    color: var(--third-color);
    font-size: 10px;
  }
  .content__timeline-table tr::before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: var(--third-color);
    border-radius: 50%;
  }
  #myAudio {
    position: absolute;
    top: 115%;
    left: 9%;
  }
  .content__main-list {
    display: flex;
    flex-direction: column;
  }
  .hidden {
    display: none;
  }
  .intro__header-content {
    width: 300px;
    font-size: 17px;
    z-index: 100;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }
  .content__timeline-header {
    font-size: 80px;
    font-family: var(--second-font);
    text-align: center;
  }
  .content__timeline img {
    width: 300px;
    align-items: center;
  }
}
